.card {
    margin: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  
  }
  .content {
    padding: 20px 30px;
  }

  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }

    .image,
    h2,
    p {
      background: linear-gradient(110deg, #272b30c5 8%, #272b304d 18%, #272b30b0 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
    }
  
    .image {
      height: 180px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    h2 {
      height: 30px;
    }
  
    p {
      height: 70px;
    }
  